body {
  margin-right: 0;
  width: fit-content;
  min-width: 100%;
}

* {
  transition: all 0.1s ease-in-out;
}

.blur-radius {
  width: 100%;
}

button {
  color: white;
  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.input {
  background-color: rgb(0, 87, 218);
  border-radius: 2px;
}

.blur-radius button {
  float: right;
}

button:hover {
  background-color: rgb(0, 102, 255);
}

section {
  padding: 0 20px;
}

hr {
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

input[type="range"] {
  width: 100%;
  max-width: 500px;
}

label {
  font-size: 0.9em;
}

strong {
  font-family: sans-serif;
}

div.image {
  position: relative;
  display: inline-flex;
}

div.image button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: #00000088;
}

div.image:hover button {
  opacity: 100%;
}

div.image button img {
  width: 22px;
  height: 22px;
}

label[for="box"]:hover {
  padding: 0;
  --my-color: rgb(255, 160, 160);
  box-shadow: 0 0 5px 5px var(--my-color);
  background: var(--my-color);
  border-radius: 10px;
}
