body {
  margin-right: 0;
  width: fit-content;
  min-width: 100%;
}

* {
  transition: all 0.1s ease-in-out;
}

.blur-radius {
  width: 100%;
}

button {
  color: white;
  border-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.input {
  background-color: rgb(0, 87, 218);
  border-radius: 2px;
}

.blur-radius button {
  float: right;
}

button:hover {
  background-color: rgb(0, 102, 255);
}

section {
  padding: 0 20px;
}

hr {
  border-color: rgb(212, 212, 212);
  border-style: solid;
}

input[type="range"] {
  width: 100%;
  max-width: 500px;
}

label {
  font-size: 0.9em;
}

strong {
  font-family: sans-serif;
}

div.image {
  position: relative;
  display: inline-block;
}

div.image button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  opacity: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: #00000088;
}

div.image:hover button {
  opacity: 100%;
}

div.image button img {
  width: 20px;
  height: 20px;
}

.main-img-cont {
  display: inline-block;
  max-width: 100%;
}

.main-img-cont canvas {
  max-width: 100%;
  max-height: 70vh;
}

label[for="box"]:hover {
  padding: 0;
  --my-color: rgb(255, 190, 190);
  box-shadow: 0 0 5px 5px var(--my-color);
  background: var(--my-color);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 0.8em;
  }
}

.load-anim {
  --unit-load-anim-time: 0.06s;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.load-anim table {
  border-spacing: 3px;
  height: 48px;
  width: 48px;
}

.load-anim td {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 87, 218);
  animation-name: flicker;
  animation-duration: calc(var(--unit-load-anim-time) * 8);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

#one {
  animation-delay: calc(var(--unit-load-anim-time) * 1);
}
#two {
  animation-delay: calc(var(--unit-load-anim-time) * 2);
}
#three {
  animation-delay: calc(var(--unit-load-anim-time) * 3);
}
#four {
  animation-delay: calc(var(--unit-load-anim-time) * 8);
}
#five {
  animation: none;
  background-color: transparent;
}
#six {
  animation-delay: calc(var(--unit-load-anim-time) * 4);
}
#seven {
  animation-delay: calc(var(--unit-load-anim-time) * 7);
}
#eight {
  animation-delay: calc(var(--unit-load-anim-time) * 6);
}
#nine {
  animation-delay: calc(var(--unit-load-anim-time) * 5);
}

@keyframes flicker {
  0% {
    background-color: rgb(0, 87, 218);
  }
  20% {
    background-color: rgb(212, 212, 212);
  }
  40% {
    background-color: rgb(0, 87, 218);
  }
}
